<% layout('layout/boilerplate') %>
<div id="cluster-map"></div>
<body>
    <h1>All campGrounds</h1>

   
        <% for(let camp of campgrounds) {%>
        <div class="card mb-3">
            <div class="row" >
                <div class="col-md-4">
                    <img src="<%=camp.images[0].url%>" width="300px" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title"><%=camp.location%></h5>
                    <p class="card-text"><%=camp.description%></p>
                    <p class="card-text"><%=camp.description%></p>
                    <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
       <%}%>
    

</body>

<%- "<script>" %>
const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
const campgrounds = {
  type: "FeatureCollection",
  features: <%- JSON.stringify(
    campgrounds.map(campground => ({
      type: "Feature",
      geometry: campground.geometry,
      properties: { popUpMarkup: campground?.properties?.popUpMarkup }
    }))
  ) %>
};
<%- "</script>" %>

<script src="/javascripts/clusterMap.js"></script>